## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Wanning,CN,76.01,scattered clouds,18.8003,110.3967,Paradise Hotel
1,11,Victoria,HK,76.32,broken clouds,22.2855,114.1577,Mini Hotel Central
2,16,Butaritari,KI,81.88,light rain,3.0707,172.7902,Isles Sunset Lodge
3,17,Atuona,PF,77.59,few clouds,-9.8000,-139.0333,Villa Enata
4,18,Hilo,US,76.12,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
## 11a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
## 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.loc[vacation_df["Country"] == "LK"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
54,200,Batticaloa,LK,79.21,broken clouds,7.7102,81.6924,Grand Star Guest House
83,323,Kalmunai,LK,78.21,broken clouds,7.4167,81.8167,VS Villa
99,367,Matara,LK,76.91,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
112,408,Hambantota,LK,75.54,scattered clouds,6.1241,81.1185,Bungalow 63
185,651,Galle,LK,77.40,overcast clouds,6.0367,80.2170,Amangalla

In [6]:
vacation_start = vacation_df.loc[112]
vacation_start

City_ID                             408
City                         Hambantota
Country                              LK
Max Temp                          75.54
Current Description    scattered clouds
Lat                              6.1241
Lng                             81.1185
Hotel Name                  Bungalow 63
Name: 112, dtype: object

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Hambantota"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Hambantota"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Matara"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Kalmunai"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Batticaloa"]

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [11]:
type(start)

tuple

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Create Map with route
fig = gmaps.figure()
itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")

fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (6.1241, 81.1185), End: (6.1241, 81.1185)
Stop 1: (5.9485, 80.5353), Stop 2: (7.4167, 81.8167), Stop 3: (7.7102, 81.6924)

In [14]:
vacation_start.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
112,408,Hambantota,LK,75.54,scattered clouds,6.1241,81.1185,Bungalow 63

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,408,Hambantota,LK,75.54,scattered clouds,6.1241,81.1185,Bungalow 63
1,408,Hambantota,LK,75.54,scattered clouds,6.1241,81.1185,Bungalow 63
2,367,Matara,LK,76.91,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
3,323,Kalmunai,LK,78.21,broken clouds,7.4167,81.8167,VS Villa
4,200,Batticaloa,LK,79.21,broken clouds,7.7102,81.6924,Grand Star Guest House

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.

max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=start, zoom_level=7)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(itinerary)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#itinerary = gmaps.directions_layer(
       # start, end, waypoints=[stop1, stop2, stop3],
       # travel_mode="DRIVING")

# 
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))